li{
    list-style: none; 
    border-bottom: 1px solid blue;
    padding:20px;
}

.add-image{
    width:4rem;
    height:auto;
    margin-bottom:18px;
}

.list-image{
    width: 3rem;
    height: 3rem;
}

.small-list-image{
    width: 20px;
    height: auto;
    margin: 6px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.border-radius-0 {
    border-radius: 0;
}

.main-logo {
    text-align:center; 
    overflow: hidden;
}

.main-header {
    background-color: #040039f7; 
    height:110px; 
    box-shadow: 2px 2px 4px black;
    
}

.menu-card-body {
    background-color: rgb(25, 34, 95); 
    height: calc(100vh - 110px);
    border-radius: 0px;
}

.menu-list-button {
    position:absolute;
    z-index: 1;
    right: 4px;
    top: 4px;
}

.menu-item-header {
    background-color: rgb(0, 81, 158); 
    box-shadow: 3px 3px 4px black;
}

.menu-item-body {
    overflow:auto; 
    max-height: calc(100vh - 454px);
    /*
     -webkit-transition: all linear 0.5s;
     transition: all linear 0.5s;
    */
}

/* 
.menu-item-body.ng-hide {
    opacity:0;
  }
*/

.content-card-body {
    overflow:auto; 
    height: calc(100vh - 248px);
}

/* If the screen size is 1367px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1400px) {
    .webapp-title {
        font-size: 30px;
    }
}

/* If the screen size is 1366px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1400px) {
    .webapp-title {
        font-size: 20px;
    }
}

.webapp-title {
    font-weight: 700;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}